<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Collection</title>
  </head>
  <body>
    <header><%- include('./partials/navbar.ejs') %></header>
    <main>
      <div class="title">
        <h1>Welcome to Your Movie Collection!</h1>
        <p>
          Track the movies you've watched, and create a list of those you want
          to watch!
        </p>
      </div>
      <div class="tutorial">
        <h2>Getting Started</h2>
        <p>
          This app allows you to create a personalized movie collection,
          including:
        </p>
        <ul>
          <li>Movies you've already watched</li>
          <li>Movies you want to watch in the future</li>
          <li>Movies watched with friends, family, or a partner</li>
          <li>Favorites by genre, year, or any theme you prefer</li>
        </ul>
        <p>To begin:</p>
        <ol>
          <li>
            Create new categories for your movie collections (e.g., "Watched
            with Emma", "Must Watch", "2024 Favorites").
          </li>
          <li>
            Add movies to each category (e.g., The Godfather, The Dark Knight,
            Inception, Avatar).
          </li>
          <li>View and manage your entire collection in one place.</li>
        </ol>
      </div>
    </main>
  </body>
</html>
