body {
  display: grid;
  grid-template-rows: 10fr 90fr;
}

.collections-container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  justify-content: start;
}

.collections-container a {
  height: 250px;
  margin-bottom: 45px;
}

.collections-container a:hover h2 {
  color: #b4841e;
}

.collection {
  height: 100%;
  width: 100%;
}

.collection img {
  border-radius: 20px;
  height: 100%;
  margin-bottom: 10px;
  width: 100%;
}

h2 {
  font-size: 25px;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
}

section > a {
  align-self: center;
}

button {
  background-color: white;
  border-width: 0px;
  color: black;
  height: 50px;
  margin: 35px 0px;
  transition: background-color 1s ease-out 0.25s;
  width: 175px;
}

button:hover {
  background-color: #b4841e;
  color: white;
  cursor: pointer;
}
